@tailwind base;
@tailwind components;
@tailwind utilities;

.text {
  @apply text-black dark:text-gray-50;
}

.text-white {
  @apply text-gray-50;
}

.text-dark {
  @apply text-black;
}

.text-dark-300 {
  @apply text-gray-500;
}

.bg-def {
  @apply bg-white dark:bg-[#151515];
}

.bg-def-600 {
  @apply bg-gray-100 dark:bg-[#121212];
}

.btn-def-outline {
  @apply text-blue-500 hover:text-white px-3 py-1 border-2 border-blue-500 hover:bg-blue-500 text-lg;
  @apply rounded-xl transition-all duration-200;
}

.btn-success-outline {
  @apply text-emerald-500 hover:text-white px-3 py-1 border-2 border-emerald-500 hover:bg-emerald-500 text-lg;
  @apply rounded-xl hover:text-gray-50 transition-all duration-200;
}

.btn-danger-outline {
  @apply text-red-500 hover:text-white px-3 py-1 border-2 border-red-500 hover:bg-red-500 text-lg;
  @apply rounded-xl hover:text-gray-50 transition-all duration-200;
}

.link {
  @apply text-blue-600 hover:border-b hover:border-blue-600;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}
